<body class="blue-grey darken-2 grey-text text-lighten-5">
	<nav>

		<div class="nav-wrapper blue-grey lighten-1" style="padding-left: 10px; padding-right: 10px;">
		<div style=" width: 1250px; margin-left: auto; margin-right: auto;">
			<a href="http://nquiringminds.com" ><span style="font-weight: bold; font-size: 200%; ">nquiring</span><span style="font-weight: lighter; font-size: 200%;">minds</span></a>	
		</div>
		</div>
	</nav>
	<div class="container" style="width: 1250px">
		
		
		<div class="row">
			
			<div class="col s9">
		
				<p style="font-size: 125%">
					Select a GPS from the options to the right to view journeys for that GPS, you can select the journey to view by double clicking on the journey name in the "No." column of the journey list table. The full details of each journey are presented in the table below the map along with a full breakdown of the data used to create the journey's list.
				</p>
					
			</div>
			<div class="col s3" style="margin-top: 10px">
				<a class="waves-effect waves-light btn blue-grey" onclick="draw('/stream?gps=GPS002')">GPS 1</a>
				<a class="waves-effect waves-light btn blue-grey" onclick="draw('/stream?gps=GPS003')">GPS 2</a>
				<a class="waves-effect waves-light btn blue-grey" onclick="draw('/stream?gps=GPS004')">GPS 3</a>
				
			</div>
			
		</div>
		
		<div class="row">
			<div class="col s9">
				<label>Journey map: Journey <span class="jNumber">...</span></label>
				<div id="map" style="width: 950px; height: 500px;"></div>
			</div>
			<div class="col s3">	 
				<label>Journey list:</label>
					<div id="myGrid1" style="width: 300px; height:500px;"></div>			
				
			</div>
		</div>
		
		<div class="row">
			<div class="col s6">
				<label>All GPS data list:</label>
				<div id="myGrid2" style="width:623px;height:500px;"></div>
			</div> 
			<div class="col s6">		
				<label>Simplified journey data list: Journey <span class="jNumber">...</span></label>
				<div id="myGrid3" style="width:623px;"></div>
			</div>
		</div>

	</div>

    <script>
	$('.btn').click(function(){
		$('.btn.blue-grey.darken-2').removeClass('darken-2');
		
			$(this).addClass('darken-2');

	});
	function draw(feed) {
		
		if(typeof map != "undefined") map.remove();

		var dataName = feed; //GPS data
		
		var timespan = 30000;
		var minSpeed = 6;

		var epsilon = 0.008;
	//	var epsilon = document.getElementById("epsilon")/1000;
		d3.json(dataName, function(error, data1) {
			if (error) {
				throw new Error('cannot open ' + dataName);
			}

			data1 = data1.sort(function(a, b) {
				return a.timestamp - b.timestamp;
			});

			var i;
			var len = data1.length;

			var data = [];

			for (i = 0; i < len; i++) {
				data.push({
					order: (i + 1),
					speed: data1[i].speed,
					timestamp: data1[i].timestamp,
					lat: data1[i].lat,
					lon: data1[i].lon
				});
			}

			var indexData = journeyMetadata(data, timespan, minSpeed);

			var grid1, grid2, grid3;

			function formatter(row, cell, value, columnDef, dataContext) {
				return "<u>Journey " + (value + 1) + "</u>";
			}

			var columns1 = [{
				id: "no",
				name: "No.",
				field: "no",
				formatter: formatter
			}, {
				id: "type",
				name: "Type",
				field: "type"
			}, {
				id: "start",
				name: "Start",
				field: "start",
				width: 69
			}, {
				id: "end",
				name: "End",
				field: "end",
				width: 69
			}];

			var columns2 = [{
				id: "order",
				name: "Order",
				field: "order",
				width:108
			}, {
				id: "speed",
				name: "Speed",
				field: "speed",
				width:108
			}, {
				id: "time",
				name: "Time",
				field: "time",
				width: 180
			}, {
				id: "lat",
				name: "Lat",
				field: "lat",
				width: 103
			}, {
				id: "lon",
				name: "Lon",
				field: "lon",
				width: 103
			}];

			var columns3 = [{
				id: "no",
				name: "No.",
				field: "no",
				width: 95
			}, {
				id: "order",
				name: "Order",
				field: "order"
			}, {
				id: "speed",
				name: "Speed",
				field: "speed"
			}, {
				id: "time",
				name: "Time",
				field: "time",
				width: 160
			}, {
				id: "lat",
				name: "Lat",
				field: "lat",
				width: 103
			}, {
				id: "lon",
				name: "Lon",
				field: "lon",
				width: 103
			}];


			var options = {
				enableCellNavigation: true,
				enableColumnReorder: false
			};

			var options3 = {
				enableCellNavigation: true,
				enableColumnReorder: false,
				autoHeight: true
			};

			$(function() {
				len = indexData.length;
				var tdata1 = [];
				for (var i = 0; i < len; i++) {
					tdata1[i] = {
						no: i,
						type: indexData[i].type,
						start: indexData[i].start,
						end: indexData[i].end
					};
				}
				grid1 = new Slick.Grid("#myGrid1", tdata1, columns1, options);

				len = data.length;
				var tdata2 = [];
				for (var i = 0; i < len; i++) {
					tdata2[i] = {
						order: data[i].order,
						speed: data[i].speed,
						time: (new Date(+data[i].timestamp)).toISOString(),
						lat: data[i].lat,
						lon: data[i].lon
					};
				}
				grid2 = new Slick.Grid("#myGrid2", tdata2, columns2, options);

				grid3 = new Slick.Grid("#myGrid3", [{}], columns3, options3);

				mapShowInit();

				var components = [];
				var row = 0;

				$('.slick-cell').mouseenter(function() {
					$(this.parentNode.children).addClass('slick-cell-hovered');
				});

				$('.slick-cell').mouseleave(function() {
					$(this.parentNode.children).removeClass('slick-cell-hovered');
				});

				grid1.setSelectionModel(new Slick.CellSelectionModel());

				grid1.onDblClick.subscribe(function() {
					if (grid1.getActiveCell()) {
						row = grid1.getActiveCell().row;
						col = grid1.getActiveCell().cell;

						if (+col == 0) {
							for (i = 0; i < components.length; i++) {
								map.removeLayer(components[i]);
							}

							d3.selectAll(".jNumber").text(+row + 1);

							components = [];

							grid2.scrollRowToTop(+indexData[row].start - 1);

							var journeyNumber = +row + 1;
							if ((journeyNumber < 1) || (journeyNumber > indexData.length)) {
								throw new Error('Invalid journey');
							}

							var xyData = fXYData(data, indexData[journeyNumber - 1].start, indexData[journeyNumber - 1].end);

							var myRDP = new NqmRDP();

							var xkey = "X";
							var ykey = "Y";

							myRDP.initRDP(xyData, xkey, ykey, epsilon);

							var simplifiedData = myRDP.nqmRDP();

							len = simplifiedData.length;

							var simplifiedIndex = [];
							var tdata3 = [];
							var iorder;
							for (i = 0; i < len; i++) {
								iorder = +simplifiedData[i].order;

								simplifiedIndex.push(iorder);

								tdata3[i] = {
									no: (i + 1),
									order: iorder,
									speed: data[iorder - 1].speed,
									time: (new Date(+data[iorder - 1].timestamp)).toISOString(),
									lat: data[iorder - 1].lat,
									lon: data[iorder - 1].lon
								};
							}

							if (len > 19) {
								d3.select("#myGrid3").style("height", "500px");

								options3 = {
									enableCellNavigation: true,
									enableColumnReorder: false
								};
							} else {
								d3.select("#myGrid3").style("height", "auto");

								options3 = {
									enableCellNavigation: true,
									enableColumnReorder: false,
									autoHeight: true
								};
							}

							grid3 = new Slick.Grid("#myGrid3", tdata3, columns3, options3);

							var lineData = fLineData(data, simplifiedIndex);

							var jType = indexData[journeyNumber - 1].type;
							components = mapShow(lineData, journeyNumber, components, jType);

							$('.slick-cell').mouseenter(function() {
								$(this.parentNode.children).addClass('slick-cell-hovered');
							});

							$('.slick-cell').mouseleave(function() {
								$(this.parentNode.children).removeClass('slick-cell-hovered');
							});
						}
					}
				});
			})
		});
	}
	function initial() {
	var dataName = '/stream?gps=GPS002'; //GPS data
		
		var timespan = 30000;
		var minSpeed = 6;

		var epsilon = 0.008;
		//var epsilon = 0.001;

		d3.json(dataName, function(error, data1) {
			if (error) {
				throw new Error('cannot open ' + dataName);
			}

			data1 = data1.sort(function(a, b) {
				return a.timestamp - b.timestamp;
			});

			var i;
			var len = data1.length;

			var data = [];

			for (i = 0; i < len; i++) {
				data.push({
					order: (i + 1),
					speed: data1[i].speed,
					timestamp: data1[i].timestamp,
					lat: data1[i].lat,
					lon: data1[i].lon
				});
			}

			var indexData = journeyMetadata(data, timespan, minSpeed);

			var grid1, grid2, grid3;

			function formatter(row, cell, value, columnDef, dataContext) {
				return "<u>Journey " + (value + 1) + "</u>";
			}

			var columns1 = [{
				id: "no",
				name: "No.",
				field: "no",
				formatter: formatter
			}, {
				id: "type",
				name: "Type",
				field: "type"
			}, {
				id: "start",
				name: "Start",
				field: "start",
				width: 69
			}, {
				id: "end",
				name: "End",
				field: "end",
				width: 69
			}];

			var columns2 = [{
				id: "order",
				name: "Order",
				field: "order",
				width:108
			}, {
				id: "speed",
				name: "Speed",
				field: "speed",
				width:108
			}, {
				id: "time",
				name: "Time",
				field: "time",
				width: 180
			}, {
				id: "lat",
				name: "Lat",
				field: "lat",
				width: 103
			}, {
				id: "lon",
				name: "Lon",
				field: "lon",
				width: 103
			}];

			var columns3 = [{
				id: "no",
				name: "No.",
				field: "no",
				width: 95
			}, {
				id: "order",
				name: "Order",
				field: "order"
			}, {
				id: "speed",
				name: "Speed",
				field: "speed"
			}, {
				id: "time",
				name: "Time",
				field: "time",
				width: 160
			}, {
				id: "lat",
				name: "Lat",
				field: "lat",
				width: 103
			}, {
				id: "lon",
				name: "Lon",
				field: "lon",
				width: 103
			}];


			var options = {
				enableCellNavigation: true,
				enableColumnReorder: false
			};

			var options3 = {
				enableCellNavigation: true,
				enableColumnReorder: false,
				autoHeight: true
			};

			$(function() {
				len = indexData.length;
				var tdata1 = [];
				for (var i = 0; i < len; i++) {
					tdata1[i] = {
						no: i,
						type: indexData[i].type,
						start: indexData[i].start,
						end: indexData[i].end
					};
				}
				grid1 = new Slick.Grid("#myGrid1", tdata1, columns1, options);

				len = data.length;
				var tdata2 = [];
				for (var i = 0; i < len; i++) {
					tdata2[i] = {
						order: data[i].order,
						speed: data[i].speed,
						time: (new Date(+data[i].timestamp)).toISOString(),
						lat: data[i].lat,
						lon: data[i].lon
					};
				}
				grid2 = new Slick.Grid("#myGrid2", tdata2, columns2, options);

				grid3 = new Slick.Grid("#myGrid3", [{}], columns3, options3);

				mapShowInit();

				var components = [];
				var row = 0;

				$('.slick-cell').mouseenter(function() {
					$(this.parentNode.children).addClass('slick-cell-hovered');
				});

				$('.slick-cell').mouseleave(function() {
					$(this.parentNode.children).removeClass('slick-cell-hovered');
				});

				grid1.setSelectionModel(new Slick.CellSelectionModel());

				grid1.onDblClick.subscribe(function() {
					if (grid1.getActiveCell()) {
						row = grid1.getActiveCell().row;
						col = grid1.getActiveCell().cell;

						if (+col == 0) {
							for (i = 0; i < components.length; i++) {
								map.removeLayer(components[i]);
							}

							d3.selectAll(".jNumber").text(+row + 1);

							components = [];

							grid2.scrollRowToTop(+indexData[row].start - 1);

							var journeyNumber = +row + 1;
							if ((journeyNumber < 1) || (journeyNumber > indexData.length)) {
								throw new Error('Invalid journey');
							}

							var xyData = fXYData(data, indexData[journeyNumber - 1].start, indexData[journeyNumber - 1].end);

							var myRDP = new NqmRDP();

							var xkey = "X";
							var ykey = "Y";

							myRDP.initRDP(xyData, xkey, ykey, epsilon);

							var simplifiedData = myRDP.nqmRDP();

							len = simplifiedData.length;

							var simplifiedIndex = [];
							var tdata3 = [];
							var iorder;
							for (i = 0; i < len; i++) {
								iorder = +simplifiedData[i].order;

								simplifiedIndex.push(iorder);

								tdata3[i] = {
									no: (i + 1),
									order: iorder,
									speed: data[iorder - 1].speed,
									time: (new Date(+data[iorder - 1].timestamp)).toISOString(),
									lat: data[iorder - 1].lat,
									lon: data[iorder - 1].lon
								};
							}

							if (len > 19) {
								d3.select("#myGrid3").style("height", "500px");

								options3 = {
									enableCellNavigation: true,
									enableColumnReorder: false
								};
							} else {
								d3.select("#myGrid3").style("height", "auto");

								options3 = {
									enableCellNavigation: true,
									enableColumnReorder: false,
									autoHeight: true
								};
							}

							grid3 = new Slick.Grid("#myGrid3", tdata3, columns3, options3);

							var lineData = fLineData(data, simplifiedIndex);

							var jType = indexData[journeyNumber - 1].type;
							components = mapShow(lineData, journeyNumber, components, jType);

							$('.slick-cell').mouseenter(function() {
								$(this.parentNode.children).addClass('slick-cell-hovered');
							});

							$('.slick-cell').mouseleave(function() {
								$(this.parentNode.children).removeClass('slick-cell-hovered');
							});
						}
					}
				});
			})
		});
	}
	initial();
    </script>
</body>
