doctype html
html
	head
		title NQM Journeys Demo
		script(src='http://d3js.org/d3.v3.js')
		script(src='leaflet.js')
		script(src='nqmpackage/rdpInterface.js')
		script(src='nqmpackage/nqmRDP.js')
		script(src='nqmpackage/nqmJourneyGPS.js')
		script(src='lib/jquery-1.7.min.js')
		script(src='lib/jquery.event.drag-2.2.js')
		script(src='slickgrid/slick.core.js')
		script(src='slickgrid/slick.grid.js')
		script(src='plugins/slick.cellrangedecorator.js')
		script(src='plugins/slick.cellrangeselector.js')
		script(src='plugins/slick.cellselectionmodel.js')
		script(src='javascripts/materialize.min.js')
		link(rel='stylesheet' href='leaflet.css')
		link(rel='stylesheet' href='slickgrid/examples.css')
		link(rel='stylesheet' href='css/smoothness/jquery-ui-1.8.16.custom.css')
		link(rel='stylesheet' href='slickgrid/slick.grid.css')
		link(rel='stylesheet' href='stylesheets/materialize.min.css')

		
	block content
